 <div id="header">
            <div id="header-inner">
                <nav class="navbar navbar-default">
                    <div class="header-secondary">
                        <div class="container clearfix">
                           <!-- Select Language
                            <ul class="languages">
                                <li>
                                    <a href="#" class="language-active">
                                        <img class="iclflag" src="assets/img/flags/en.png" alt="en" title="English">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="language-flag" src="/assets/img/flags/fr.png" alt="fr" title="Français">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="language-flag" src="/assets/img/flags/de.png" alt="de" title="Deutsch">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">

                                        <img class="language-flag" src="assets/img/flags/it.png" alt="it" title="Italiano">
                                    </a>
                                </li>
                            </ul><!-- /.languages -->

                            <ul class="header-submenu pull-right">
                                <li><a href="#"><i class="fa fa-users color-gray-dark"></i> <span class="hidden-xs">Register</span></a></li>
                                <li><a href="#"><i class="fa fa-sign-in color-gray-dark"></i> <span class="hidden-xs">Login</span></a></li>
                                <li><a href="templates/page-submit.html"><i class="fa fa-plus-square"></i> Submit</a></li>
                            </ul>
                        </div><!-- /.container -->
                    </div><!-- /.header-secondary -->

                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <a class="navbar-brand" href="index.html">
                                <span class="logo-styled">
                                    <span class="logo-title">
                                        <img src="assets/img/logo-automotive.png" alt=""> M-chama
                                    </span><!-- /.logo-title -->
                                    <span class="logo-subtitle hidden-sm">App <br/> v1</span>
                                </span><!-- /.logo-styled -->
                            </a>
                        </div>

                        <div class="collapse navbar-collapse" id="navbar-main">
                            <ul class="nav navbar-nav navbar-right">
    <li class="hidden-sm">
        <a href="/">Home</a>
        <!--<ul>
            <li><a href="templates/index.html">Automotive</a></li>
            <li><a href="templates/index.html">Directory</a></li>
            <li><a href="templates/index.html">Real Estate</a></li>
        </ul>-->
    </li>


        <li class="menuparent">
    <a href="#">Specific</a>

    <ul>
        <li><a href="templates/detail.html">Car Detail</a></li>
        <li><a href="templates/listing-grid.html">Grid Version</a></li>
        <li><a href="templates/listing-grid-filter.html">Grid + Filter</a></li>
        <li><a href="templates/listing-row.html">Row Version</a></li>
        <li><a href="templates/listing-row-filter.html">Row + Filter</a></li>
    </ul>
</li>
    <li class="menuparent megamenu columns4">
        <a href="#">Pages</a>

        <ul>
            <li>
                <ul>
                    <li><a href="templates/page-accordions.html"><i class="fa fa-reorder"></i> Accordions</a></li>
                    <li><a href="templates/page-grid.html"><i class="fa fa-th"></i> Grid</a></li>
                    <li><a href="templates/page-404.html"><i class="fa fa-question"></i> Not Found</a></li>
                    <li><a href="templates/page-invoice.html"><i class="fa fa-file"></i> Invoice</a></li>
                    <li><a href="templates/page-faq.html"><i class="fa fa-question"></i> FAQ</a></li>
                </ul>
            </li>

            <li>
                <ul>
                    <li><a href="templates/page-blockquotes.html"><i class="fa fa-quote-right"></i> Blockquotes</a></li>
                    <li><a href="templates/page-500.html"><i class="fa fa-exclamation"></i> Internal Error</a></li>
                    <li><a href="templates/page-pricing.html"><i class="fa fa-euro"></i> Pricing</a></li>
                    <li><a href="templates/page-login.html"><i class="fa fa-sign-in"></i> Login</a></li>
                    <li><a href="templates/page-renew-password.html"><i class="fa fa-life-ring"></i> Renew Pass</a></li>
                </ul>
            </li>

            <li>
                <ul>
                    <li><a href="templates/page-contact.php"><i class="fa fa-phone"></i> Contact Page</a></li>
                    <li><a href="templates/page-list-of-icons.html"><i class="fa fa-list"></i> List of Icons</a></li>
                    <li><a href="templates/page-tables.html"><i class="fa fa-table"></i> Tables</a></li>
                    <li><a href="templates/page-register.html"><i class="fa fa-check-square"></i> Registration</a></li>
                    <li><a href="templates/page-terms.html"><i class="fa fa-file-text"></i> Conditions</a></li>
                </ul>
            </li>

            <li>
                <ul>
                    <li><a href="templates/page-features.html"><i class="fa fa-heart"></i> Features</a></li>
                    <li><a href="templates/page-notifications.html"><i class="fa fa-warning"></i> Notifications</a></li>
                    <li><a href="templates/page-tabs.html"><i class="fa fa-bars"></i> Tabs</a></li>
                    <li><a href="templates/page-change-password.html"><i class="fa fa-gear"></i> Change Pass</a></li>
                    <li><a href="templates/page-members.html"><i class="fa fa-users"></i> Members</a></li>
                </ul>
            </li>
        </ul>
    </li>

    <li class="menuparent megamenu columns3">
        <a href="#">Portfolio</a>
        <ul>
            <li>
                <ul>
                    <li class="header"><a href="#"><i class="fa fa-columns"></i> 4 Columns</a></li>
                    <li><a href="templates/portfolio-4-columns-standard-fullwidth.html">Standard Fullwidth</a></li>
                    <li><a href="templates/portfolio-4-columns-no-spacing-fullwidth.html">No Spacing Fullwidth</a></li>
                    <li><a href="templates/portfolio-4-columns-isotope-fullwidth.html">Isotope Fullwidth</a></li>
                    <li><a href="templates/portfolio-4-columns-standard-left-sidebar.html">Standard Left Sidebar</a></li>
                    <li><a href="templates/portfolio-4-columns-no-spacing-left-sidebar.html">No Spacing Left Sidebar</a></li>
                    <li><a href="templates/portfolio-4-columns-isotope-left-sidebar.html">Isotope Left Sidebar</a></li>
                    <li><a href="templates/portfolio-4-columns-standard-right-sidebar.html">Standard Right Sidebar</a></li>
                    <li><a href="templates/portfolio-4-columns-no-spacing-right-sidebar.html">No Spacing Right Sidebar</a></li>
                    <li><a href="templates/portfolio-4-columns-isotope-right-sidebar.html">Isotope Right Sidebar</a></li>
                </ul>
            </li>

            <li>
                <ul>
                    <li class="header"><a href="#"><i class="fa fa-columns"></i> 3 Columns</a></li>
                    <li><a href="templates/portfolio-3-columns-standard-fullwidth.html">Standard Fullwidth</a></li>
                    <li><a href="templates/portfolio-3-columns-no-spacing-fullwidth.html">No Spacing Fullwidth</a></li>
                    <li><a href="templates/portfolio-3-columns-isotope-fullwidth.html">Isotope Fullwidth</a></li>
                    <li><a href="templates/portfolio-3-columns-standard-left-sidebar.html">Standard Left Sidebar</a></li>
                    <li><a href="templates/portfolio-3-columns-no-spacing-left-sidebar.html">No Spacing Left Sidebar</a></li>
                    <li><a href="templates/portfolio-3-columns-isotope-left-sidebar.html">Isotope Left Sidebar</a></li>
                    <li><a href="templates/portfolio-3-columns-standard-right-sidebar.html">Standard Right Sidebar</a></li>
                    <li><a href="templates/portfolio-3-columns-no-spacing-right-sidebar.html">No Spacing Right Sidebar</a></li>
                    <li><a href="templates/portfolio-3-columns-isotope-right-sidebar.html">Isotope Right Sidebar</a></li>
                </ul>
            </li>

            <li>
                <ul>
                    <li class="header"><a href="#"><i class="fa fa-columns"></i> 2 Columns</a></li>
                    <li><a href="templates/portfolio-2-columns-standard-fullwidth.html">Standard Fullwidth</a></li>
                    <li><a href="templates/portfolio-2-columns-no-spacing-fullwidth.html">No Spacing Fullwidth</a></li>
                    <li><a href="templates/portfolio-2-columns-isotope-fullwidth.html">Isotope Fullwidth</a></li>
                    <li><a href="templates/portfolio-2-columns-standard-left-sidebar.html">Standard Left Sidebar</a></li>
                    <li><a href="templates/portfolio-2-columns-no-spacing-left-sidebar.html">No Spacing Left Sidebar</a></li>
                    <li><a href="templates/portfolio-2-columns-isotope-left-sidebar.html">Isotope Left Sidebar</a></li>
                    <li><a href="templates/portfolio-2-columns-standard-right-sidebar.html">Standard Right Sidebar</a></li>
                    <li><a href="templates/portfolio-2-columns-no-spacing-right-sidebar.html">No Spacing Right Sidebar</a></li>
                    <li><a href="templates/portfolio-2-columns-isotope-right-sidebar.html">Isotope Right Sidebar</a></li>
                </ul>
            </li>
        </ul>
    </li>

    <li class="menuparent">
        <a href="#">Blog</a>

        <ul>
            <li><a href="templates/blog-detail.html">Detail Page</a></li>
            <li><a href="templates/blog-detail-left-sidebar.html">Detail Left Sidebar</a></li>
            <li><a href="templates/blog-detail-right-sidebar.html">Detail Right Sidebar</a></li>
            <li><a href="templates/blog-rows.html">Rows Version</a></li>
            <li><a href="templates/blog-rows-left-sidebar.html">Rows Left Sidebar</a></li>
            <li><a href="templates/blog-rows-right-sidebar.html">Rows Right Sidebar</a></li>
            <li><a href="templates/blog-grid.html">Grid Version</a></li>
            <li><a href="templates/blog-grid-left-sidebar.html">Grid Left Sidebar</a></li>
            <li><a href="templates/blog-grid-right-sidebar.html">Grid Right Sidebar</a></li>
        </ul>
    </li>
    <li>
        <a href="templates/page-contact.html">Contact</a>
    </li>
</ul><!-- /.nav -->                        </div><!-- /.navbar-collapse -->
                    </div>
                </nav>
            </div><!-- /#header-inner -->
        </div><!-- /#header -->