
    <div id="main-wrapper">
        <div id="main">
            <div id="main-inner"><div class="breadcrumb-wrapper">
    <div class="container">
        <!--<ol class="breadcrumb pull-left">
            <li><a href="#">Vivamus</a></li>
            <li><a href="#">Proin era</a></li>
            <li class="active">Fusce accumsan</li>
        </ol><!-- /.breadcrumb -->

    </div><!-- /.container -->
</div><!-- /.breadcrumb-wrapper -->
<div class="container">    
	<div class="block-content">
    	<div class="block-content-inner">
			<div class="page-header center">
				<h1>List of Groups</h1>
                                
			</div><!-- /.page-header -->

			<div class="row">
                            
	<div class="col-sm-6 col-md-2">
            
    </div>
                            
        <div class="col-sm-6 col-sm-offset-0 col-md-8 col-md-offset-2">
            <div class="icon-list">
            <div class="icon-item row">
                <div class="col-xs-3 col-sm-3">
                    <div class="circle-icon">
                        <i class="entypo users"></i>
                    </div><!-- /.circle-icon -->
                </div>

                <div class="col-xs-8 col-sm-8">
                    <h4>Visionary Group</h4>
                    <p>Visionary investment group, Nairobi County, 1114-0100 Nairobi</p>                                        
                </div>
            </div><!-- /.row -->
                                                
            <div class="icon-item row">
                <div class="col-xs-3 col-sm-3">
                    <div class="circle-icon">
                        <i class="entypo air"></i>
                    </div><!-- /.circle-icon -->
                </div>      

                <div class="col-xs-8 col-sm-8">
                    <h4>Change Flexibility</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>                                        
                </div>                                  
            </div><!-- /.row -->

            <div class="icon-item row">
                <div class="col-xs-3 col-sm-3">
                    <div class="circle-icon">
                        <i class="entypo flag"></i>
                    </div><!-- /.circle-icon -->
                </div>                                        

                <div class="col-xs-8 col-sm-8">
                    <h4>Awesome Support</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>                                        
                </div>
            </div>
            <div class="icon-item row">
                <div class="col-xs-3 col-sm-3">
                    <div class="circle-icon">
                        <i class="entypo graduation-cap"></i>
                    </div><!-- /.circle-icon -->
                </div>

                <div class="col-xs-8 col-sm-8">
                    <h4>Universal Structure</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>                                        
                </div>
            </div><!-- /.row -->
                                                
            <div class="icon-item row">
                <div class="col-xs-3 col-sm-3">
                    <div class="circle-icon">
                        <i class="entypo air"></i>
                    </div><!-- /.circle-icon -->
                </div>      

                <div class="col-xs-8 col-sm-8">
                    <h4>Change Flexibility</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>                                        
                </div>                                  
            </div><!-- /.row -->

            <div class="icon-item row">
                <div class="col-xs-3 col-sm-3">
                    <div class="circle-icon">
                        <i class="entypo flag"></i>
                    </div><!-- /.circle-icon -->
                </div>                                        

                <div class="col-xs-8 col-sm-8">
                    <h4>Awesome Support</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>                                        
                </div>
            </div>
        </div> 
            <input type="submit" value="Create New Group" class="btn btn-primary">
	</div>

	<div class="col-sm-6 col-md-2">
            
    </div>
</div>	    </div><!-- /.block-content-inner -->
	</div><!-- /.block-content -->			
	<div class="block-content background-primary background-image-center fullwidth" data-background-image="../../assets/img/tmp/automotive/support.jpg" style="background-image: url('../../assets/img/tmp/automotive/support.jpg');">
    <div class="block-content-inner">
        <h2 class="no-margin"><strong>Questions?</strong> Contact our support.
            <a href="#" class="btn btn-secondary pull-right btn-uppercase">Contact Now</a>
        </h2>
    </div><!-- /.block-content-inner -->
</div><!-- /.block-content -->	
</div><!-- /.container -->

            </div><!-- /#main-inner -->
        </div><!-- /#main -->
    </div><!-- /#main-wrapper -->
